# Content Security Policy recommendations
Content-Security-Policy: default-src 'self'; script-src 'self' https://pagead2.googlesyndication.com; connect-src 'self'; img-src 'self' https://vyntyraconsultancyservices.in https://fonts.gstatic.com https://fonts.googleapis.com data:; font-src 'self' https://fonts.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; frame-src https://www.google.com; base-uri 'self'; form-action 'self'; upgrade-insecure-requests;
